<%= form_for(@blueprint) do |f| %>
  <% if @blueprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blueprint.errors.count, "error") %> prohibited this blueprint from being saved:</h2>

      <ul>
      <% @blueprint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :harbor_id %><br>
    <%= f.text_field :harbor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
