<%= form_for(@harbor) do |f| %>
  <% if @harbor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@harbor.errors.count, "error") %> prohibited this harbor from being saved:</h2>

      <ul>
      <% @harbor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :process_id %><br>
    <%= f.text_field :process_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subdomain %><br>
    <%= f.text_field :subdomain %>
  </div>
  <div class="field">
    <%= f.label :port %><br>
    <%= f.text_field :port %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.check_box :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
