<%- model_class = Harbor -%>
<div class="page-header">
  <h1><%=t '.title', :default => Harbor %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:process_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:subdomain) %></th>
      <th><%= model_class.human_attribute_name(:port) %></th>
      <th><%= model_class.human_attribute_name(:password) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @harbors.each do |harbor| %>
      <tr>
        <td><%= harbor.id %></td>
        <td><%= harbor.process_id %></td>
        <td><%= harbor.name %></td>
        <td><%= harbor.subdomain %></td>
        <td><%= harbor.port %></td>
        <td><%= harbor.password %></td>
        <td><%= harbor.state %></td>
        <td><%=l harbor.created_at, format: :long %></td>
        <td>
          <%= link_to harbor_path(harbor), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to harbor_path(harbor), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_harbor_path,
            :class => 'btn btn-primary' %>
