<h1>Listing harbors</h1>

<table>
  <thead>
    <tr>
      <th>Process</th>
      <th>Name</th>
      <th>Subdomain</th>
      <th>Port</th>
      <th>User</th>
      <th>Password</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @harbors.each do |harbor| %>
      <tr>
        <td><%= harbor.process_id %></td>
        <td><%= harbor.name %></td>
        <td><%= harbor.subdomain %></td>
        <td><%= harbor.port %></td>
        <td><%= harbor.user %></td>
        <td><%= harbor.password %></td>
        <td><%= harbor.state %></td>
        <td><%= link_to 'Show', harbor %></td>
        <td><%= link_to 'Edit', edit_harbor_path(harbor) %></td>
        <td><%= link_to 'Destroy', harbor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Harbor', new_harbor_path %>
